# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
db.sqlite3
**/migrations/*.py
!**/migrations/__init__.py

# VSCode
.vscode/
tickets/
progress.output

# JMeter y archivos de pruebas de carga
JMX/
*.jmx
*.csv

# Archivos de configuración local
apache-jmeter-*/
